.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fill-info {
  fill: #cff4fc;
}

.fill-primary {
  fill: #d0e2ff;
}

.fs-big {
  font-size: 4rem;
}

.fs-giant {
  font-size: 7rem;
}

.fs-title {
  font-size: 12rem;
}

@media (min-width: 1400px) and (max-width: 2000px) {
  .fs-big {
    font-size: 3rem;
  }

  .fs-giant {
    font-size: 6rem;
  }

  .fs-title {
    font-size: 9rem;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .fs-big {
    font-size: 2rem;
  }

  .fs-giant {
    font-size: 4rem;
  }

  .fs-title {
    font-size: 7rem;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .fs-big {
    font-size: 1.5rem;
  }

  .fs-giant {
    font-size: 3rem;
  }

  .fs-title {
    font-size: 6rem;
  }
}

@media (max-width: 991px) {
  .fs-big {
    font-size: 3rem;
  }

  .fs-giant {
    font-size: 4.5rem;
  }

  .fs-title {
    font-size: 6rem;
  }
}

@media (max-width: 450px) {
  .fs-big {
    font-size: 1.5rem;
  }

  .fs-giant {
    font-size: 3rem;
  }

  .fs-title {
    font-size: 5rem;
  }
}

@media (max-width: 450px) {
  .fs-big {
    font-size: 1.5rem;
  }

  .fs-giant {
    font-size: 3rem;
  }

  .fs-title {
    font-size: 4rem;
  }
}

.meteoCard {
  width: 350px;
  height: 250px;
  transition: transform 0.2s ease;
  position: relative; /* Necessario per il posizionamento assoluto dell'icona */
}

@media (min-width: 860px) {
  .meteoCard {
    width: 350px;
    height: 250px;
    transition: transform 0.2s ease;
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 860px) {
  .meteoCard {
    width: 300px;
    height: 220px;
    transition: transform 0.2s ease;
    position: relative;
  }
}

@media (min-width: 380px) and (max-width: 768px) {
  .meteoCard {
    width: 350px;
    height: 250px;
    margin: auto;
    transition: transform 0.2s ease;
    position: relative;
  }
}

@media (max-width: 380px) {
  .meteoCard {
    width: 320px;
    height: 220px;
    transition: transform 0.2s ease;
    position: relative;
  }
}

.link-card {
  display: block;
  width: fit-content; /* Aggiungi questa regola per adattare la larghezza del contenitore alla card */
  margin: 0 auto; /* Centra il contenitore orizzontalmente */
}

.meteoCard h5 {
  white-space: nowrap; /* Impedisce al testo di andare su una nuova riga */
  overflow: hidden; /* Nasconde il testo in eccesso */
  text-overflow: ellipsis; /* Mostra i puntini di sospensione (...) */
  max-width: calc(100% - 50px); /* Limita la larghezza del titolo considerando lo spazio per l'icona */
}

.meteoCard:hover {
  transform: scale(1.1); /* Ingrandisce del 10% */
  cursor: pointer;
}

.weather-icon {
  position: absolute;
  top: 0px; /* Distanzia l'icona dal bordo superiore */
  right: 0px; /* Distanzia l'icona dal bordo destro */
  width: 60px;
  height: 60px;
}

.glass-effect {
  background: rgba(255, 174, 0, 0.1); /* Colore semitrasparente */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Supporto Safari */
  border: 1px solid rgb(255, 146, 5);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: rgb(2, 2, 2);
}

/* City Carousel */

.city-img-carousel {
  height: auto;
  max-height: 440px;
  max-width: 660;
}

.meteo-icon {
  width: 100px;
  height: 100px;
}

@media (max-width: 1200px) {
  .meteo-icon {
    width: 80px;
    height: 80px;
  }
}

.fs-carousel-big {
  font-size: 4rem;
}

.fs-carousel-giant {
  font-size: 7rem;
}

.fs-carousel-title {
  font-size: 12rem;
}

.carousel-icon {
  width: 120px;
  height: 120px;
}

@media (max-width: 1200px) {
  .carousel-icon {
    width: 95px;
    height: 95px;
  }

  .fs-carousel-big {
    font-size: 3rem;
  }

  .fs-carousel-giant {
    font-size: 5rem;
  }

  .fs-carousel-title {
    font-size: 9rem;
  }
}

@media (max-width: 992px) {
  .carousel-icon {
    width: 90px;
    height: 90px;
  }

  .fs-carousel-big {
    font-size: 2.5rem;
  }

  .fs-carousel-giant {
    font-size: 4.5rem;
  }

  .fs-carousel-title {
    font-size: 9rem;
  }
}

@media (max-width: 768px) {
  .carousel-icon {
    width: 70px;
    height: 70px;
  }

  .fs-carousel-big {
    font-size: 1.6rem;
  }

  .fs-carousel-giant {
    font-size: 3.6rem;
  }

  .fs-carousel-title {
    font-size: 9rem;
  }
}

@media (max-width: 545px) {
  .carousel-icon {
    width: 65px;
    height: 65px;
  }

  .fs-carousel-big {
    font-size: 1.5rem;
  }

  .fs-carousel-giant {
    font-size: 3rem;
  }

  .fs-carousel-title {
    font-size: 7rem;
  }
}

@media (max-width: 470px) {
  .carousel-icon {
    width: 60px;
    height: 60px;
  }

  .fs-carousel-big {
    font-size: 1.5rem;
  }

  .fs-carousel-giant {
    font-size: 2.5rem;
  }

  .fs-carousel-title {
    font-size: 7rem;
  }
}

@media (max-width: 400px) {
  .carousel-icon {
    width: 50px;
    height: 50px;
  }

  .fs-carousel-big {
    font-size: 1.5rem;
  }

  .fs-carousel-giant {
    font-size: 2rem;
  }

  .fs-carousel-title {
    font-size: 7rem;
  }
}

.img-carousel {
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .img-carousel {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 460px) {
  .img-carousel {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 410px) {
  .img-carousel {
    width: 70px;
    height: 70px;
  }
}

.searchBar-dimensions {
  width: 50%;
}
